// *Fonts
$primary-font: 'Roboto',
    sans-serif;
$second-font: 'Bona Nova',
    serif;

// *Colors
$primary-color: #5e311e;
$second-color: #c39c63;
$thrid-color: #ebe7de;
$gray-color: #eceeef;
$white-color: #fff;
$black-color: #000;

// *Queries 
$tablet: 768px;
$desktop: 1024px;